system {
	replace:
    login {
    {%  for item in junos_users %}	
        user {{ item.user }} {
            class super-user;
            authentication {
                encrypted-password "{{ item.phash }}";
            }
        }
    {% endfor %}
    }
}