system {
    login {
        user {{ juniper_username }} {
            class super-user;
            authentication {
                encrypted-password "{{ juniper_password_hash }}";
            }
        }
    }
}